.contentWrapper>*{
    display: inline-block;
}

.contentWrapper{
    height: calc(100% - 108px);
    width: 100%;
    background-color: #ececec;
}

.navigatorWrapper{
    height: 155px;
    bottom: 0;
    font-size: 1.1em;
    line-height: 1.6;
}

.workspaceWrapper{
    height: 100%;
}

.split-pane-content-primary{
    height: 100%;
    width: 100%;
    overflow: auto;
}

.split-pane-content-secondary{
    height: 100%;
    width: 100%;
}

.questionWrapper{
    height: 100%;
    width: 100%;
    overflow: auto;
}

.contentWrapper.verticalView{

    overflow-y: auto;
    background-color: #fff;

    .questionWrapper{
        height: auto;
    }
}

.contentWrapper.verticalView.cosmattItemWrapper{
  height: calc(100% - 54px);
}

.modal-view{
    width: 90%;
    height: 85%;
    top: 10%;
    margin: auto;
}
.modal-content{
    height: 100%;
}
.modal-body{
    height: calc(100% - 56px);
    padding: 0px;
}
.modal-header{
    border-bottom:0px;
}
.comproBand{
    background: #000000;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    .closeButton{
        color:#DAD2D2;
        background: transparent;
        border:0px;
    }
}
