.contentWrapper>*{
    display: inline-block;
}

.contentWrapper{
    height: calc(100% - 108px);
    width: 100%;
    background-color: #ececec;
}

.navigatorWrapper{
    height: 155px;
    bottom: 0;
    font-size: 1.1em;
    line-height: 1.6;
}

.workspaceWrapper{
    height: 100%;
}

.split-pane-content-primary{
    height: 100%;
    width: 100%;
    overflow: auto;
}

.split-pane-content-secondary{
    height: 100%;
    width: 100%;
}

.questionWrapper{
    height: 100%;
    width: 100%;
    overflow: auto;
}

.contentWrapper.verticalView{

    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;

    .questionWrapper{
        height: auto;
    }
}

.contentWrapper.verticalView.cosmattItemWrapper{
  height: calc(100% - 54px);
}
