<div *ngIf="id<'3'" #contentWrapper class="contentWrapper">
  <vertical-split-pane class="verticalSeparator" primary-component-initialratio="0.30" separator-thickness="21" [primary-component-minsize]="0"
    [secondary-component-minsize]="829">
    <div class="split-pane-content-primary">
      <app-question-box class="questionWrapper" [questionData]='questionData'></app-question-box>
    </div>
    <div class="split-pane-content-secondary">
      <app-workspace #workspace class="workspaceWrapper" [solutionData]='solutionData' (gridEvent) = "handleGridEvent($event)"></app-workspace>
    </div>
  </vertical-split-pane>
</div>
<!-- <div *ngIf="mode=='Assessment' && id!='3'" #contentWrapper class="contentWrapper verticalView">
      <app-question-box class="questionWrapper" [questionData]='questionData'></app-question-box>
      <app-workspace #workspace class="workspaceWrapper col-md-12" [solutionData]='solutionData' (gridEvent) = "handleGridEvent($event)"></app-workspace>
</div> -->

<div *ngIf="id >='3'"  #contentWrapper class="contentWrapper verticalView cosmattItemWrapper">
  <cosmatt-item-box #workspace class="questionWrapper" [questionData]='questionData' [solutionData]='solutionData' (gridEvent) = "handleGridEvent($event)"></cosmatt-item-box>
</div>

<div bsModal #modalWindow="bs-modal" class="modal fade" tabindex="-1" role="dialog" (onShown)="setModalVisibilty(true)" (onHidden)="setModalVisibilty(false)"aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-view">
    <div class="modal-content ">
      <div class="modal-header comproBand">        
        <p class="modal-title text-xs-center fw-bold mt" id="myModalLabel18">Study - Accounting Fundamentals and Concepts
        <button (click)="modalWindow.hide()" aria-label="Close" class="pull-right closeButton" type="button">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </p>
      </div>
      <div class="modal-body">
        <app-studymaterial [modalVisible]= "modalVisible"></app-studymaterial>
      </div>
    </div>
  </div>  
</div>

<app-navigator *ngIf="id<'3'" (navEvent)="handleCompEvents($event)" class="navigatorWrapper" [navigatorData] = "navigatorData"></app-navigator>
