.ng2-pdf-viewer-container{
    height: 100%;
    background: #565656;
}
.pdfViewer{
    height: 100% ;
    padding-left:0px;
}
.pdfNavigator{
    height:100%;
    padding-right:0px;
}
.navigatorContainer{
    overflow-y: auto;
    overflow-x: hidden; 
    height: 100%;
    background: #E6E6E6;
}

.listHead{
    color: #454444;
    border-bottom: 1px solid #9F9F9F;
    .closebutton{
        margin: auto 10px auto 0;
        font-size: 16px;
    }   

    >label{
        padding:  10px 10px;
        width: 100%;
        margin-bottom: 0px;
        display: flex;

        >p{
            display: inline-flex;
            margin: 0 auto;
            font-size: 16px;
            width:calc(100% - 30px);
        }
    } 
}
.nav-list.tree{
    display: none;
    background: white;
    li:last-child{
        border:0px;
    }  
}
.listTopic{
    padding: 2px 10px;
    border-bottom: 1px solid lightgrey;
    cursor:pointer;
    >label{
        padding: 10px 0px 10px 20px;
        color: #858585;
        cursor:pointer;
        width: 100%;
        margin-bottom: 0px;
    }
}
.topic-selected{
    background: #337AB7;
    >label{
        color: white; 
    }    
}
.pdftoolbar{
    background: #000000;
    border-radius: 4px;
    color:#EEEDED;
    opacity: 0.8;
    font-size:22px;
    padding: 5px 10px; 
    width:368px;
    position: relative;
    bottom: 55px;
    margin: auto;
    .divider{
        border-left:1px solid #383838;
    }
    .reduceFont{
        font-size: 18px;
    }
    >span{
        user-select: none;
        >span{
            padding: 0px 6px 0px 10px;
        }
    }
}