<div class="panel panel-default">
  <div class="panel-body" style="display: none;">
    <p>Prepare the trial balance. Remember that each lineof the heading is very important and should be in a specific order.</p>
    <p><i>Avoid committing spelling mistakes while typing the account heads.</i></p>
  </div>
  <div class="panel-footer">
    <button class="btn btn-primary" [style.visibility]="checkvisiblity(navigatorData.showStudyButton)" (click)="launchEbook()">Study</button>
    <button class="btn btn-primary" [style.visibility]="checkvisiblity(navigatorData.showHintButton)" (click)="displayHint()" [disabled] = "navigatorData.hint.isLastHint">Hint</button>
    <button class="btn btn-primary" [style.visibility] = "checkvisiblity(navigatorData.showCheckAnswer)" (click)="checkMyAnswer()">{{(this.answerButtonMode == "checkAnswer"?"Check My Work":"Try Again")}}</button>
    <button class="btn btn-primary pull-right" [style.visibility] = "checkvisiblity(navigatorData.showSubmitButton)" (click) = "handleSubmitClick()">{{(this.submitButtonMode == "submit"?"Submit":"Close")}}</button>
  </div>
</div>
