<div class="panel panel-default">
  <div class="panel-body" style="display: none;">
    <p>Prepare the trial balance. Remember that each lineof the heading is very important and should be in a specific order.</p>
    <p><i>Avoid committing spelling mistakes while typing the account heads.</i></p>
  </div>
  <div class="panel-footer">
    <button class="btn btn-primary" (click)="displayHint()" [disabled] = "navigatorData.hint.isLastHint">Hint</button>
    <button class="btn btn-primary" (click)="checkMyAnswer()">Check My Work</button>
    <button class="btn btn-primary pull-right">Submit</button>
  </div>
</div>
