.header{
    height: 63px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    background-color: #ececec;
    border-bottom: 3px solid #CB2929;

    .headingWrapper{
        width: 100%;
    }
}


.dashboard-items-container {
    background-color: #eee;
    padding-top: 160px;
    height: calc(100% - 54px);
}
.contentDiv{
    min-width: 80%;
    max-width: 1280px;
}

