<section class="widget dashboard-item-widget">
  <div class="widget-body clearfix course-widget-body">
    <div>
      <div class="dashboard-item-heading">
        <div class="dashboard-item-title">{{mode}}</div>
      </div>
      <div class="image-container">
        <img src="assets/dashboard-item-logo.png" class="dashboard-item-image">
      </div>
    </div>
  </div>
  <div class="button-container">
    <button [routerLink]="['/question', questionIndex]" class="btn btn-inverse" type="submit">Continue <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
  </div>
</section>
