  .widget {
  position: relative;
  margin-bottom: 30px;
  background: #fff;
  border: 0px solid #217346;
  border-top-width: 8px;
  border-radius: 0.5rem;
  height: 260px;
  box-shadow: 0 2px 4px 2px rgba(0,0,0,.2);
}

.dashboard-item-widget {
  
  padding: 30px 30px 40px 30px;
  height: 200px;
    .dashboard-item-title {
      align-self: center;
      max-height: 58px;
      line-height: 1.2;
      width: 100%;
      font-size: 24px;
      font-family: "open-sans";
      color: #464646;
    }
    @media (max-width: 1420px) and (min-width: 1200px){
      .dashboard-item-title {
          font-size: 21px;
      }
    }
    .description-container{
      font-size: 16px;
      font-family: "open-sans";
      color: #575757;
      padding-top: 11px; 
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    @media (max-width: 1420px) and (min-width: 1200px){
      .description-container {
        font-size: 15px;
      }
    }
}

.button-container {
  background-color: #F0F0F0;
  text-align: center;
  padding: 10px 0 10px 0;
  .btn-leonardo{
    background-color:transparent;
    color: #01579B;
    border: 1px solid #01579B;
  }
  .btn-leonardo:hover{
    background-color:#01579B;
    color:#F0F0F0;
    border: 1px solid #01579B;
  }
  .btn-leonardo:hover{
    background-color:#01579B;
    color:#F0F0F0;
    border: 1px solid #01579B;
  }
}
.leobadge{
  border-radius: 3px;
  margin: 2px;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  font-family: open-sans;
  padding: 7px 11px;
}
@media (max-width: 1420px) and (min-width: 1320px){
  .leobadge {
    font-size: 12px;
  }
}
@media (max-width: 1320px) and (min-width: 1200px){
  .leobadge {
    font-size: 11px;
  }
}

.badge-container{
  padding-top: 15px;
}
.Physics{
  background: #006064;
}
.Training{
  background: #906D96;
}
.Accounting{
  background: #8D6E63;
}
.Assessment{
  background: #FF8E6C;
}
.viewtypeContainer{
  font-family: open-sans;
  font-size: 16px;
  color:#343434; 
  padding-left: 15px;
}
@media (max-width: 1420px) and (min-width: 1200px){
  .viewtypeContainer {
    font-size: 14px;
  }
}
