<section class="widget">
  <div class ="dashboard-item-widget">
  <div class="widget-body clearfix">
    <div>
      <div>
        <div #title class="dashboard-item-title">{{quesMeta.qText}}</div>

      </div>
      <div class="description-container">{{quesMeta.description}}
      </div>
      <div class="badge-container">
          <span class="badge leobadge {{createClassName(badge)}}" *ngFor = "let badge of quesMeta.badges">{{badge}}</span>
          <span class="viewtypeContainer">{{"| "+ quesMeta.view}}</span>
      </div>
    </div>    
  </div>
  </div>
  <div class="button-container">
    <button [routerLink]="['/question',questionIndex,quesMeta.badges[1]]" class="btn btn-leonardo" type="submit">Launch</button>
    <!-- routerlink path to be chnaged to ../../question when moved to previous release  -->
  </div>
</section>
